@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --white-color: #ffffff;
  --adress-color: #ffffff99;
  --bg-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* general style ul */
.list {
  list-style: none; /*убирает кнопки списка*/
  /*outline: 2px solid red; /*делает временную рамку для верстки*/
  padding: 0; /*сбрасыввет padding от браузера*/
  margin: 0; /*сбрасыввет margin от браузера*/
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  /*обязательное условие для картинок*/
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  border: 1px solid rgba(34, 44, 184, 0.5);
}

.modal-btn:hover .footer-open,
.modal-btn:focus .footer-open {
  fill: #2196f3;
}

/*-------------MODAL-FORM------------------*/
.modal-title {
  margin: 0;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-top: 10px;
  margin-bottom: 4px;
  color: #757575;
}

.input-wrap {
  position: relative;
  margin: 0;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  padding-left: 42px;
  outline: none;
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.area-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px;
  outline: none;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.area-text:hover,
.area-text:focus {
  border: 1px solid #2196f3;
}

.chek-privacy {
  margin-top: 20px;
  margin-bottom: 30px;
}

.label-chek {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: #757575;
}

.label-chek span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 9px;
  fill: transparent;
}

.modal-chek {
  margin-top: 20px;
  margin-bottom: 30px;
}

.chek-link {
  color: #188ce8;
}

.modal-chek:checked + .label-chek > span {
  background-color: #188ce8;
  border-color: transparent;
  fill: white;
}

.modal-form-btn {
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #188ce8;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:focus,
.modal-form-btn:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.soc__list {
  display: flex;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .soc__list {
    margin: 0;
  }
}

.soc__item {
  width: 44px;
  height: 44px;
}

.soc__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc__icon--grey {
  fill: #afb1b8;
}

.soc__list--white {
  padding-left: 0;
}

.soc__link--white {
  background: rgba(255, 255, 255, 0.1);
}

.soc__icon--white {
  fill: var(--white-color);
}

.soc__link:hover,
.soc__link:focus {
  background-color: var(--accent-color);
}

.soc__link:hover .soc__icon,
.soc__link:focus .soc__icon {
  fill: var(--white-color);
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.menu-open {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #ffffff;
  top: 22px;
  right: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger:hover {
  fill: #2196f3;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding: 21px 40px;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-close {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #ffffff;
  top: 22px;
  right: 22px;
}

.menu-close-btn {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:hover {
  fill: #2196f3;
}

.mob-menu-list {
  margin-top: 48px;
  margin-bottom: 302px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: #2196f3;
}

.mob-menu-connect {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.mob-menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-tel:hover, .mob-menu-tel:focus {
  color: #2196f3;
}

.mob-menu-mail {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: #303030;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-mail:hover, .mob-menu-mail:focus {
  color: #2196f3;
}

.mob-soc-list {
  display: flex;
  position: relative;
}

.mob-soc-item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  width: 2px;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-soc-item:not(:last-child) {
  margin-right: 20px;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-link:hover,
.mob-soc-link:focus {
  color: #2196f3;
}

.header {
  display: flex;
  height: 80px;
  margin-top: 0;
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

/* style logo header and footer*/
/* general style nav header*/
.header-logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-start {
  color: var(--logo-color);
}

/* general style contact header*/
.navigation__list {
  display: flex;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item .current {
  color: var(--accent-color);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  background-color: var(--accent-color);
  border-radius: 3px;
  left: 0;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .contact__item:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__item::before {
  content: "";
}

.convert {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover .convert,
.contact__link:focus .convert {
  fill: var(--accent-color);
}

.contact__item::before {
  content: "";
}

.telefon {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover .telefon,
.contact__link:focus .telefon {
  fill: var(--accent-color);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--title-text-color);
  background-image: linear-gradient(var(--bg-gradient)), url(../images/bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media retina {
  .hero {
    background-image: linear-gradient(var(--bg-gradient)), url(../images/bg-mob-2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--bg-gradient)), url(../images/bg-tabl.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(var(--bg-gradient)), url(../images/bg-desk.jpg);
  }
}

.hero > .container {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero > .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__slogan {
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 360px;
  color: var(--white-color);
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 700px;
  }
}

.hero__btn {
  display: inline-flex;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: var(--white-color);
  background: var(--accent-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--white-color);
  color: var(--accent-color);
  cursor: pointer;
}

.pic-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .pic-list {
    flex-wrap: nowrap;
  }
}

.pic-list__block {
  display: flex;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pic-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .pic-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .pic-list__item {
    width: calc((100% - 30px) / 4);
  }
}

.pic-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.pic-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
}

.activ {
  display: none;
}
@media screen and (min-width: 1200px) {
  .activ {
    padding: 0;
    display: inline;
  }
}

.activ-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.activ-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
  padding-bottom: 94px;
  margin: 0;
}

.activ-item {
  position: relative;
}

.activ-block {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  top: 224px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.activ-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}

.team__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 30px) / 4);
  }
}

.team__name {
  padding: 24px 10px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 1200px) {
  .team__name {
    padding: 30px 10px;
  }
}

.team__name-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team__name-text {
  margin: 0;
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-align: center;
}

.client__titls {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .client__titls {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .client__list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
  }
}

.client__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .client__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 30px) / 4);
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 30px) / 6);
  }
}

.client__link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
}

.client__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-color);
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media screen and (min-width: 1200px) {
  .footer > .container {
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
  }
}

.footer-block {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-block {
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-block {
    text-align: start;
    margin: 0;
  }
}

.footer-logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-end {
  color: var(--white-color);
}

.contacts-address-list {
  margin-top: 20px;
}

.contacts-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-address-link:hover, .contacts-address-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  display: inline-block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-color);
}

.footer-soc {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-soc {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    padding-top: 10px;
    margin-left: 70px;
  }
}

.footer-soc-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .subscription {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
  }
}

.subscription-title {
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .subscription-title {
    text-align: start;
  }
}

.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscription-form {
    flex-direction: row;
  }
}

.subscription-input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--white-color);
  padding-left: 16px;
}
@media screen and (min-width: 1200px) {
  .subscription-input {
    width: 358px;
    margin: 0;
    margin-right: 12px;
  }
}

.subscription-input::placeholder {
  padding-left: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  display: flex;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #2196f3;
}

.subscription-btn-icon {
  margin-left: 12px;
  fill: white;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list button:hover,
.filter-list button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.work-block {
  display: flex;
}

.work-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.work-item {
  display: flex;
  background-color: var(--white-color);
  width: 450px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .work-item {
    width: calc((100% - 30px) / 2);
    width: 354px;
  }
}
@media screen and (min-width: 1200x) {
  .work-item {
    width: calc((100% - 30px) / 3);
    width: 100%;
  }
}

.work-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-item:hover .work-comment {
  transform: translateY(0);
}

.work-image {
  position: relative;
  overflow: hidden;
}

.work-comment {
  position: absolute;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 24px 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-name {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.work-name-title {
  margin: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-align: left;
}

.work-name-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: left;
}/*# sourceMappingURL=main.css.map */