.skill > .container {
  @media screen and (min-width: 768px) {
    
    margin-bottom: 60px;
   }
  }
.pic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    @media screen and (min-width: 1200px) {
     flex-wrap: nowrap; 
     margin-bottom: 118px;
    }
  }
  
  .pic-list__block {
    display: flex;
    height: 120px;
  
    background: #f5f4fa;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .pic-list__item {
    width: 100%;
    @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 30px) / 4);
    }
  }

   .pic-list__title {
    margin-top: 30px;
    margin-bottom: 10px;
    @include font(700, 14px, 1.4, 0.03em);
    text-transform: uppercase;
    color: var(--title-text-color);
  }
  
  .pic-list__text {
    @include font(400, 14px, 1.8, 0.03em);
    color: var(--primary-text-color);
    margin: 0;
  }